html {
    background-image: url("http://getwallpapers.com/wallpaper/full/3/8/4/1183962-healthy-food-wallpaper-1920x1080-for-android.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Righteous', cursive;
    
}

p {
    margin-top: -20px;
}
header {
    text-align: center;
    color: white;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.main-container {
    background-image: url("https://img.wallpapersafari.com/tablet/1536/2048/24/47/cFLbEX.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px black solid;
    border-radius: 20px;
    width: 35%;
    margin: auto;
}

#survey-form {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.shadow {
    text-shadow: 1px 2px beige;
    font-size: 1.1vw;
}
span {
    font-size: 1.1vw;
    padding-top: 5px;
    padding-bottom: 10px;
    text-shadow: 1px 2px beige;
}
.item {
    margin: 10px;
    height: 30px;
    border-radius: 5px;
    color:black;
    background-color: beige;
}

.radio {
    display: flex;
    flex-direction: column;
}

.radio label {
    padding: 4px;
}

.checkboxes label {
    padding: 4px;
    
}
.checkboxes {
    display: flex;
    flex-direction: column;  
}

textarea {
    min-height: 120px;
    width: 100%;
    background-color: beige;
}

#submit {
    cursor: pointer;
    background-color: #4CAF50;
    color: black;
    font-size: 18px;
    font-family: 'Righteous', cursive;
}

#submit:hover {
    color: white;
}

@media only screen and (max-width: 815px) {
    header {
        width: 90%;
    }
    .main-container {
        width: 90%;
    }
    span {
      font-size: 20px;
    }
  .shadow {
    font-size: 20px;
  }
  .radio label {
    font-size: 15px;
  }
  .checkboxes label {
    font-size: 15px;
  }
}
